
main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

h1{
    padding: 10px 0;
}

#submitButton{
    margin: 10px 0;
}

form{
    width: 90vw;
}

@media (min-width: 576px) {
    form{
        width: 65vw;
    }
}

@media (min-width: 992px) {
    form{
        width: 600px;
    }
}
